@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

body {
  min-height: 100vh;
}

.bg-navy {
  background-color: #001eff;
}

.text-name {
  font-family: "Orbitron", sans-serif;
  /* font-size: 5em; */
  text-align: center;
  text-shadow: 0 0 5px #00ff9f, 0 0 10px #00ff9f, 0 0 15px #00ff9f,
    0 0 20px #00ff9f, 0 0 35px #00ff9f, 0 0 40px #00ff9f, 0 0 50px #00ff9f,
    0 0 75px #00ff9f;
  color: #00ff9f;
}

.download-button {
  font-family: "Orbitron", sans-serif;
  font-size: 1.2em;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: #00b8ff;
  color: #000;
  text-shadow: 0 0 10px #00b8ff, 0 0 20px #00b8ff, 0 0 30px #00b8ff,
    0 0 40px #00b8ff, 0 0 70px #00b8ff, 0 0 80px #00b8ff, 0 0 100px #00b8ff,
    0 0 150px #00b8ff;
  box-shadow: 0 0 10px #00b8ff, 0 0 20px #00b8ff, 0 0 30px #00b8ff,
    0 0 40px #00b8ff, 0 0 70px #00b8ff, 0 0 80px #00b8ff, 0 0 100px #00b8ff,
    0 0 150px #00b8ff;
}

.download-button:hover {
  background-color: #000;
  color: #00b8ff;
  box-shadow: none;
  text-shadow: none;
  transition: all 0.5s ease;
}

.text-description {
  font-family: "Orbitron", sans-serif;
  color: #d600ff;
  text-shadow: 0 0 10px #d600ff, 0 0 20px #d600ff, 0 0 30px #d600ff,
    0 0 40px #d600ff, 0 0 50px #d600ff, 0 0 60px #d600ff, 0 0 70px #d600ff;
}

.image {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  /* border: 2px groove #d600ff; */
}

.neon-border {
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #001eff,
    0 0 70px #001eff, 0 0 80px #001eff, 0 0 100px #001eff, 0 0 150px #001eff;
}

.font {
  font-family: "Orbitron", sans-serif;
}